MyApplication/gradlew
MyApplication/gradlew.bat
MyApplication/.idea/.name
MyApplication/.idea/compiler.xml
MyApplication/.idea/encodings.xml
MyApplication/.idea/gradle.xml
MyApplication/.idea/misc.xml
MyApplication/.idea/modules.xml
MyApplication/.idea/runConfigurations.xml
MyApplication/.idea/copyright/profiles_settings.xml
MyApplication/gradle/wrapper/gradle-wrapper.jar
MyApplication/gradle/wrapper/gradle-wrapper.properties
